body{
	margin: 0;
	height: 100%;

}
.bg{
	background-image:url('img/mo.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt{
	font-size: 17px;
	color: #b8bcbc;

}
.container{
	margin: 10px;
}

.contain20{
	height: 30px;

}
.fix{
	position: fixed;
	width: 100%;
	top: 0;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent\9; 
	background:rgba(46, 58, 58,0.2); 
    top: 0;
    width: 100%;

}

li {
    float: right;

}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #96bcbc;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.pad{
	padding: 10px 10px 4px 10px;
}

.opcon{
	height: 300px;

	 
	
	
}

.opcon3{
	height: 300px;
	background: transparent\9; 
	background:rgba(245,245,245,0.2); 
	
	
}
.opcon2{
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;

}


.grid{
	display: grid;
 	grid-template-columns: 65% 28%;
 	padding: 0;
}

.grid2{
	display: grid;
 	grid-template-columns: 34% 65.5%;
 	padding: 0;
}

.opcona{
	margin-right: 20px;

}
.opconb{
	margin-right: 10px;

}

.opconaside{
	text-align: center;
	width: 98%;
	background: transparent\9; 
	background:rgba(245,245,245,0.2);	
	padding: 10px;
}

footer{
	width: 100%
	background: transparent\9; 
	background:rgba(46, 58, 58,0.2); 
	height: 50px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	color: #8d9696;

}

.rad {
    -webkit-transition: width 5s, height 5s; /* For Safari 3.1 to 6.0 */
    transition: width 5s, height 5s;
}

.rad:hover {
    border-radius:  30px;
}

.rad2 {
    -webkit-transition: width 5s, height 5s; /* For Safari 3.1 to 6.0 */
    transition: width 5s, height 5s;
}

.rad2:hover {
    border-radius: 30px;
    background: transparent\9; 
	background:rgba(245,245,245,0.2); 
}

.txt2{
	font-size: 17px;
	color: #b8bcbc;

}

.txt3{
	color: #000001;

}

.cen{
	font-size: 50px;
	color: #b8bcbc;
	text-align: center;
	font-family: 

}